.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Modern Antiqua', serif;

}

.button{
  background-color: #4ECCA3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: 'Indie Flower', cursive;
  box-shadow: 0 9px #999; 
}
.button:hover {background-color: #3e8e41} 
.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  h1 {
    font-size: 4rem;
    margin: 10px;
  }

  p {
    font-size: 1.5rem;
  }

  img {
    width: 100%;
  }
}