.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 3%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Modern Antiqua', serif;

}

button{
  margin-top: 2%;
  margin-left: 47%;
  margin-right: 47%;
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #4ECCA3;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: 'Indie Flower', cursive;
}